@font-face {
    font-family: Possibilities;
    src: url(../fonts/possibilities.otf);
}

body {
	font-family: Possibilities;
	font-size:13px;
}

.no-click { pointer-events: none; }
.strike-through { text-decoration: line-through; }
.drop-box-highlight { background: #f1ac2c; border:2px solid #000; }
.less-opacity {opacity:0.5;}

.next-section {
	color: #fff;
	cursor: pointer;
	background: rgba(1,80,150,0.7);
	width: 30%;
	padding: 1%;
	margin: 4% auto;
	border-radius: 10px;
	text-shadow: 2px 2px 2px #000;
	text-decoration: none
}

.next-section:hover {
	background: rgba(255,255,255,0.7);
	color: #000;
	text-shadow: 2px 2px 2px #fff;
}

.correct { 
	background: rgba(0,128,0,0.6) !important; 
	color: #fff !important; 
	text-shadow: 2px 2px 2px #000 !important;
}
.incorrect { 
	background: rgba(128,0,0,0.6) !important; 
	color: #fff !important; 
	text-shadow: 2px 2px 2px #000 !important;
}
.locked {
	background: rgba(255,158,20,0.8)!important;
	color: #000 !important;
	text-shadow: 0px 1px 0px #888 !important;
}
.selected {
	background: rgba(255,158,20,0.8)!important;
	color: #000 !important;
	text-shadow: 0px 1px 0px #888 !important;
}

.correct-unselected {
	background: rgba(20,117,255, 0.8) !important;
	color: #FFF !important;
	text-shadow: 0px 1px 0px #000 !important;
}

#quiz{
	width: 100%;
	height: 100%;
}

#submit {
	margin: 0 1% -1% !important;
	padding: 1% 0 !important;
	width: 98%;
	text-align: center;
	background: rgba(1, 80, 150, 0.8);
	position: relative;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 10px 2px #00182E;
}

#submit:hover {
	background: rgba(67,118,177, 0.8);
}

#knowmore { display: none; }

#statement-area {
	display: block;
	width: 88%;
	margin: 5% 5% 2%;
	padding: 3% 1%;
	height: auto;
	position: relative;
	color: #fff;
	background: rgba(1,1,1,0.4);
	border-radius: 10px;
	text-shadow: 2px 2px 2px #000;
	box-shadow: inset 0px 0px 20px rgba(1,1,1,1);
}

#statement-area p {
	padding: 0 4%;
	margin: 0 0 5%;
	font-size: 1.15em;
}

#options {
	display: block;
	width: 90%;
	margin: 0 5%;
	height: auto;
	position: relative;
}

#options ul {
	margin: 0;
	padding: 0;
}

.option-block {
	list-style-type: none;
	padding: 3%;
	margin: 2% 0;
	background: rgba(255,255,255,0.7);
	color: #000;
	border-radius: 10px;
	cursor: pointer;
	text-shadow: 1px 1px 1px #fff;
	box-shadow: 0px 0px 20px rgba(1,1,1,0.5);
	font-size: 1.15em;
}

.option-block:hover {
	background: rgba(1, 80, 150, 0.7);
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	box-shadow: 0px 0px 20px rgba(255,255,255,0.5);
}

#messages {
    background: rgba(1,1,1,0.9);
    color: #fff;
    display: none;
    width:100%;
    height: 100%;
}

#goahead {
	color: #fff;
	cursor: pointer;
	background: rgba(1,80,150,0.7);
	width: 30%;
	padding: 1%;
	margin: 4% auto;
	border-radius: 10px;
	text-shadow: 2px 2px 2px #000;
}

#goahead:hover {
	background: rgba(255,255,255,0.7);
	color: #000;
	text-shadow: 2px 2px 2px #fff;
}

#messageBox {
    width: 90%;
    padding: 5%;
    top:18%;
    height:auto;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
	font-size: 20px;
}

    
    