<div class="clock"></div>


<script type="text/javascript">
    var clock;
    var userTime;
    $(document).ready(function() {

        userTime = <%= @userClockLeft %>

        clock = $('.clock').FlipClock(userTime, {
            clockFace: 'HourlyCounter',
            countdown: true,
            callbacks: {
                stop: function() {
                    $('.main-wrapper-game').hide()
                    alert("Your Time is Up ")
                }
            }

        });

    });




</script>
