
<div class="row main-wrapper-game">
  <div class="col-lg-8">
    <div class="current-game-container">
		<div class="game">
			<span class="game-name" style="font-weight: bolder; font-size: 20px">
				Great! You have completed this assessment! <br /><br />

				Get in touch with the administrator for your score!
			</span>
		</div>
	</div>
  </div>
</div>
