
<div class="row main-wrapper-game">
  <div class="col-lg-8">
    <div class="current-game-container">
		<div class="game">
			<span class="game-name" style="font-weight: bolder; font-size: 20px">
				Welcome back!  <br /><br />
				
				You have already completed this assessment!   <br /><br />

				In case you need any assistance, please get in touch with the administrator.
			</span>
		</div>
	</div>
  </div>
</div>
