
<div class="row main-wrapper-game">
  <div class="col-lg-8">
    <div class="current-game-container">
		<div class="game">
			<span class="game-name" style="font-weight: bolder; font-size: 20px">
				Your Assessment is Complete! <br /><br />

				Please Contact your Admin for your results.
			</span>
		</div>
	</div>
  </div>
</div>
