<html>
<head>

</head>
<body>



<% if current_user.sign_in_count > 1 %>
<div class="row">
  <h1>Contact ur admin if you wanna play it again</h1>
</div>
<% else %>
    <div class="row main-wrapper-game">
      <div class="col-lg-8">
        <iframe src="/simulation/story_html5.html" width="100%" height="620px" id="player_iframe_simulation"></iframe>
      </div>
      <div class="col-lg-4">
        <%= render(:partial => "clock" ,:controller=>"home") %>
      </div>
    </div>
<% end %>





</body>
</html>
